html, body {
  height: 100%;   /* hace que el body ocupe toda la ventana */
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column; /* apila Navbar / contenido / Footer */
  min-height: 100vh;      /* al menos el alto de la pantalla */
}

.AppRouter {  /* contenedor que envuelve Routes */
  flex: 1; /* ocupa todo el espacio disponible */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

footer {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}